<.header>
  New Review
  <:subtitle>Share your thoughts about a book</:subtitle>
</.header>

<.review_form changeset={@changeset} action={@action} books={@books} />

<.back navigate={~p"/reviews"}>Back to reviews</.back>
