<.header>
	Edit Author
	<:subtitle>Update author details</:subtitle>
	<:actions>
		<.link navigate={~p"/authors/#{@author.id}"} class="btn btn-ghost">Show</.link>
		<.link navigate={~p"/authors"} class="btn btn-ghost">Back</.link>
	</:actions>
</.header>

<.author_form changeset={@changeset} action={~p"/authors/#{@author.id}"} />

<.back navigate={~p"/authors"}>Back to authors</.back>
