<.header>
	New Author
	<:subtitle>Add a new author to your collection</:subtitle>
	<:actions>
		<.link navigate={~p"/authors"} class="btn btn-ghost">Back</.link>
	</:actions>
</.header>

<.author_form changeset={@changeset} action={@action || ~p"/authors"} />
